.company {
  margin: 1rem 0;

  div {
    position: relative;
  }

  .flex-1 {
    position: relative;
    flex: 1;
  }

  .flex-2 {
    position: relative;
    flex: 2;
  }

  .flex-3 {
    position: relative;
    flex: 3;
  }
}

.column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.row {
  display: flex;
  gap: 2rem;
}
