.location {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;

    .title {
      font-weight: bold;
      font-size: 1.2rem;
    }

    span {
      color: #0a7900;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;

    .box-1,
    .box-2,
    .box-3 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      background-color: rgba($color: #0a7900, $alpha: 1);
      color: white;
      padding: 1rem;
      border-radius: 5px;

      svg {
        font-size: 3rem;
      }

      .detail {
        .number {
          font-size: 1.5rem;
          font-weight: bold;
          text-align: right;
        }

        span {
          font-weight: lighter;
          font-size: 0.9rem;
        }
      }
    }

    .box-2 {
      background-color: rgba($color: #0a7900, $alpha: 0.9);
    }

    .box-3 {
      background-color: rgba($color: #0a7900, $alpha: 0.8);
    }
  }
}
