@import '../../App.scss';

.user-card {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .top {
    display: flex;
    justify-content: space-between;
    height: 5rem;

    .user-info {
      display: flex;
      flex-direction: column;

      .name {
        font-size: 1.2rem;
        font-weight: bold;
        text-align: left;
      }

      .id {
        font-size: 0.9rem;
        color: gray;
      }
    }

    .tool {
      display: flex;
      gap: 0.5rem;

      svg {
        font-size: 1.5rem;
        padding: 0.5rem;

        &:hover {
          cursor: pointer;
        }
      }

      .edit {
        color: #0a7900;
      }

      .delete {
        color: red;
      }
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;

    .detail {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      span {
        font-size: 0.9rem;
        color: gray;
      }

      div {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: #0a7900;

        a {
          color: #0a7900;
        }
        svg {
          font-size: 1rem;
        }
      }

      .status {
        justify-content: space-between;
        font-weight: bold;

        .switch {
          width: 40px;
          height: 20px;
          background-color: #0a7900;
          border-radius: 50px;
          border: 3px solid rgb(223, 223, 223);
          position: relative;

          transition: all 0.2s;

          &:hover {
            cursor: pointer;
          }

          .ball {
            width: 20px;
            height: 20px;
            background-color: white;
            border-radius: 50%;
            position: absolute;
            left: 0;
            transition: all 0.2s;
          }
        }
      }
    }
  }
}
