@import '../../App.scss';

.wrapper {
  margin-left: 60px;
  padding: 0.5rem 2rem;
  display: flex;
  flex-direction: column;

  @include breakpoint(s) {
    margin-left: 0;
    gap: 1rem;
  }

  @include breakpoint(xs) {
    padding: 1rem;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @include breakpoint(md) {
      flex-direction: column-reverse;
      gap: 1rem;
    }

    .left-nav {
      display: flex;
      align-items: center;
      gap: 1rem;

      @include breakpoint(md) {
        align-self: flex-start;
      }

      .path,
      .arrow {
        color: grey;
      }

      .last-path {
        font-weight: bold;
      }
    }

    .right-nav {
      display: flex;
      align-items: center;
      gap: 2.5rem;

      @include breakpoint(md) {
        align-self: flex-end;
      }

      @include breakpoint(xs) {
        flex-direction: column;
        gap: 0.5rem;
        align-items: flex-end;
      }

      .util {
        display: flex;
        align-items: center;
        gap: 1rem;

        .search-bar {
          display: flex;
          align-items: center;
          gap: 1rem;

          input {
            border: none;
            outline: none;
            padding: 0.5rem 1rem;
            border-radius: 5px;
          }

          svg:hover {
            cursor: pointer;
          }
        }
      }

      .profile {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        img {
          width: 25px;
          border-radius: 50px;
        }
      }
    }
  }

  .content {
    max-width: 100%;
    max-height: 100%;
  }
}
