@import '../../App.scss';

.bank {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint(md) {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
    }

    .title {
      text-align: left;
      font-weight: bold;
      font-size: 1.2rem;
    }

    button {
      display: flex;
      gap: 1rem;
      background: #0a7900;
      color: white;
      font-size: 0.8rem;
      border: none;
      border-radius: 5px;
      padding: 0.5rem 1.5rem;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include breakpoint(l) {
      flex-direction: row;
    }

    @include breakpoint(md) {
      flex-direction: column;
      align-items: center;
    }

    .bank-item {
      display: flex;
      gap: 1.5rem;
      align-items: center;

      @include breakpoint(l) {
        flex-direction: column;
        flex: 1;
      }
      @include breakpoint(md) {
        width: 100%;
      }

      .bank-card {
        border-radius: 10px;
        height: 6.5rem;
        width: 35%;
        position: relative;

        @include breakpoint(l) {
          width: 100%;
        }

        img {
          width: 40px;
          position: absolute;
          bottom: 20px;
          right: 10px;
        }
      }

      .blue-gr {
        background: linear-gradient(
          90deg,
          rgba(33, 146, 170, 1) 0%,
          rgba(90, 226, 255, 1) 100%
        );
      }

      .yellow-gr {
        background: linear-gradient(
          270deg,
          rgba(147, 156, 0, 1) 0%,
          rgba(222, 235, 0, 1) 100%
        );
      }

      .bank-detail {
        display: flex;
        flex-direction: column;
        width: 60%;
        gap: 0.2rem;

        @include breakpoint(l) {
          width: 100%;
        }

        .name {
          display: flex;
          justify-content: space-between;
          font-weight: bold;
          margin-bottom: 2rem;

          @include breakpoint(l) {
            margin-bottom: 0;
          }

          .tool {
            display: flex;
            gap: 0.5rem;

            svg {
              font-size: 1rem;

              @include breakpoint(s) {
                font-size: 1.2rem;
                padding: 0 0.5rem;
              }

              &:hover {
                cursor: pointer;
              }
            }

            .edit {
              color: #0a7900;
            }

            .delete {
              color: red;
            }
          }
        }

        .account,
        .currency {
          font-size: 0.9rem;
          color: gray;
        }
      }
    }
  }
}
